*{border-radius: 10%;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background: url(https://img1.picmix.com/output/stamp/normal/4/7/7/6/1196774_ef799.gif);
background-repeat: no-repeat;
background-size: cover;
}

.container {
  max-width: 600px;
  padding: 25px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: #69180d 4px solid;
}

button {
  background-color: #ebaa20;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  color: #69180d;
}
